<div class="columns is-centered">
  <div class="column is-half">
    <br><br>
    <div class="box is-pulled-right" style="height: 30rem; width: 40rem; background-color: is-primary;">
      <h2 class="text is-bold" style="font-family: courier; font-size: x-large; font-weight: bold;">Log in</h2>
      <br><br>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <p class="text" style="font-family: verdana;">Email</p>
        <p class="control has-icons-left">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'input', :placeholder => 'Email'%>
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </p>
      </div>
      <br>
      <div class="field">
        <p class="text" style="font-family: verdana;">Password</p>
        <p class="control has-icons-left">
          <%= f.password_field :password, autofocus: true, autocomplete: "current-password" , :class => 'input', :placeholder => 'Password' %>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <br>
      <div class="field">
        <p class="control">
          <%= f.submit "Log in", :class => "button is-info is-outlined is-pulled-right" %>
        </p>
      </div>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<br>